BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
NamespaceIndentation: All
#BreakBeforeBraces: Stroustrup
IndentPPDirectives: AfterHash
SortIncludes: false
AlignAfterOpenBracket: BlockIndent
AllowShortCaseLabelsOnASingleLine: true
